/*// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    html {
        font-size: 13px;
    }

    .navbar {
        padding: 2rem 1rem;
    }

}

/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }

    .navbar {
        padding: 1.5rem 1rem;
    }

    .logoSize {
        width: 48px;
    }

    .logoWhite {
        position: absolute;
        top: 18px;
        left: 50px;
    }

    .logoBlack {
        position: absolute;
        top: 10px;
        left: 46px;
        z-index: 1;
    }

    .mt-negativo {
        margin-top: -180px;
    }

    .mt-negativo2 {
        margin-top: -500px;
    }

    .mt-negativo3 {
        margin-top: -600px;
    }

    .mt-negativo4 {
        margin-top: -160px;
    }

    .bottom2 {
        width: 250px;
        position: absolute;
        z-index: 100;
        bottom: 50px;
        right: 30px;
    }

    /* Slides de Mobile Responsive */

    #slideHome {
        background-image: url(../img/fotos/home/publico_coworking_primerslide.jpg);
    }

    #slide-cowork {
        background-image: url(../img/fotos/espacios_trabajo/publico_coworking_ESPACIOS-DE-TRABAJO_primerslide.jpg);
    }

    #slide-comedores {
        background-image: url(../img/fotos/comedores/primerslide_comedores.jpg);
    }

    #slide-about {
        background-image: url(../img/fotos/about/publico_coworking_ABOUT-US-primerslide.jpg);
    }

    #slide-estudio {
        background-image: url(../img/fotos/estudio/publico_coworking_ESTUDIO-DE-FOTOGRAFIA_primerslide.jpg);
    }

    #slide-press {
        background-image: url(../img/fotos/press/publico_coworking_press.jpg);
    }

    #slide-membresias {
        background-image: url(../img/fotos/membresias/publico_coworking_MEMBRESIA_primerslide.jpg);
    }

    #slide-eventos {
        background-image: url(../img/fotos/eventos/publico_coworking_EVENTOS_primerslide.jpg);
    }

    #slide-colaboradores {
        background-image: url(../img/fotos/colaboradores/publico_coworking_COLABORADORES_primerslide.jpg);
    }

    #slide-contacto {
        background-image: url(../img/fotos/home/publico_coworking_primerslide.jpg);
    }

    #slide-muzquiz {
        background-image: url(../img/fotos/muzquiz/publico_coworking_MUZQUIZ_primerslide.jpg);
    }

    #slide-moliere {
        background-image: url(../img/fotos/moliere/publico_coworking_MUZQUIZ_primerslide.jpg);
    }

    #slide-puebla {
        background-image: url(../img/fotos/puebla/publico_coworking_PUEBLA_primerslide.jpg);
    }

    #slide-seneca {
        background-image: url(../img/fotos/seneca/publico_coworking_SENECA_primerslide.jpg);
    }

    #slide-hamburgo {
        background-image: url(../img/fotos/hamburgo/publico_coworking_HAMBURGO_primerslide.jpg);
    }

    #slide-prado {
        background-image: url(../img/fotos/lomas/publico_coworking_LOMAS_primerslide.jpg);
    }


}

/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    html {
        font-size: 15px;
    }

    .mt-negativo2 {
        margin-top: -500px;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    .mt-negativo2 {
        margin-top: -400px;
    }
}